@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-size: 40px 40px;
  /* background-image: radial-gradient(circle, #C3CAD5 1px, rgba(0, 0, 0, 0) 1px); */
  font-family: 'Fira Sans', sans-serif;
  background-color: #eef6fc;
  /* color: #212529; */
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 25px;
  line-height: 1.8;
  text-align: center;
  color: #242424;
  margin: auto;
}

.myText p {
  font-family: 'Fira Sans', sans-serif;  
  font-size: 20px;
  color: #5C5C5C;
  margin: auto;
  position: relative;
  text-align: left;
  padding-top: 50px;
}

/* ------------------------------------------------------ */

#abouttext {
  text-align: left;
  margin: auto;
  font-size: 20px;
  color: #5C5C5C;
  font-weight: thin;
  margin-inline: auto;
}

#aboutsub {
  text-align: left;
  margin: auto;
  font-weight: bold;
  font-size: 22px;
  color: #394B74;
  margin-inline: auto;
}

/* ------------------------------------------------------ */

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 25px;

  position: relative;
  left: 10px;
  top: 1px;
  padding: 20px;
  color: #394B74;
}

h2 {
  color: #394B74;
  text-align: center;
}

h3 {
  font-size: 40px;
  color: #394B74;
  text-align: center;
}

h4 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 25px;

  position: relative;
  padding-right: 1000px;
  text-align: left;
  color: #394B74;
  padding-top: 50px;
}

h5 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 21px;

  position: relative;
  text-align: left;
  color: #394B74;
}

#myHeader1 {
  font-size: 40px;
  color: #394B74;
  text-align: left;
  padding-right: 500px;
}

#myHeader2 {
  font-size: 40px;
  padding-top: 10px;
  color: #394B74;
  text-align: center;
  padding-right: 700px;
}



#ando {
  color: #060506;
}

#andosub {
  color: #060506;
  font-size: 30px;
}

#fruity {
  color: #D05D66;
}

#fruitysub {
  color: #D05D66;
  font-size: 30px;
}

#path {
  color:#1E4B5C;
}

#sun {
  color:#1C53A2;
}

#sunsub {
  color:#1C53A2;
  font-size: 30px;
}

#resumesub {
  color:#394B74;
  font-size: 30px;
}

#dittox {
  color:#3E2850;
}

#moclo {
  color:#B98262;
}

/* ------------------------------------------------------ */

iframe {
  border: none;
  width: 700px;
  height: 800px;;
}

#web1 {
  width: 800px;
  height: 800px;;
}

#web2 {
  width: 1200px;
  height: 950px;;
}

#web3 {
  width: 1800px;
  height: 900px;;
}

#video {
  width: 560px;
  height: 315px;
}

/* ------------------------------------------------------ */
a {
  font-weight: bold;
  --s: 0.2em;   /* the thickness of the line */
  --c: #394B74; /* the color */
  color: #D05D66;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#394B74 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}

a:hover {
  text-decoration: none;
  --_p: 100%
}

a:visited {
  color: #5C5C5C;
}

.nav-1 {
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  font-size: 18px;
  margin-bottom: 10px;
}

.nav-1 a {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav1 {
  display: block;
  margin: auto;
  text-align: right;
  font-size: 16px;
  padding-left: 20px;
  padding-bottom: 20px;
  position: absolute;
  left: 350px;
  top: 44px;
  right: 20px;
}

.nav1 a:visited {
  color: #5C5C5C;
}

.nav2 {
  color: #394B74;
  text-decoration: none;
  margin: auto;
  text-align: center;
  max-width: 1000px;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  position: relative;
  gap: 5px;
  margin: 10px auto;
  text-decoration: none;
  padding: 10px;
}

.nav2 a:active, .nav2 a:hover {
  color: #394B74;
}

.nav2 a:link, .nav2 a:visited {
  color: inherit;
  color: #5C5C5C;
  text-decoration: none;
}

/* ------------------------------------------------------ */

.splash img {
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}

.main {
  margin: auto;
  max-width: 1000%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 100px;
  margin-top: 100px;
}

.main img:hover {
  opacity: 0.5;
}

.myprofile img{
  margin: auto;
  max-width: 1000%;
  display: flex;
  align-items: left;
  position: static;
  padding: 30px;
}

/* ------------------------------------------------------ */

.gallery-container-a,.gallery-container-b {
  margin: auto;
  max-width: 1000px;
  display: flex;
  position: static;
  flex-wrap: wrap;
  justify-content: left;
  padding: 10px;
  padding-bottom: 30px;
}

.gallery-container-c {
  margin: auto;
  max-width: 600px;
  display: flex;
  position: static;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.gallery-container-d {
  margin: auto;
  max-width: 3000px;
  display: flex;
  position: static;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-bottom: 30px;
}

img {
  max-width: 600px;
  margin-inline: 0;
  object-fit: cover;
}

.gallery-item-a {
  padding-bottom: 30px;
  position: relative;
  /* padding-right: 20px; */
  flex: 1;
}

.gallery-item-c {
  padding-bottom: 50px;
  flex: 1;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}


.gallery-item-a, .gallery-item-b {
  text-align: left;
  flex: 1 1 auto;
  padding-bottom: 20px;
}

.gallery-container-a img:hover {
	opacity: 0.5;
}

  /* ------------------------------------------------------ */
  /*Bio Flexbox*/

.bio-box {
  display: flex;
  flex-wrap: wrap;
}

.bio-left {
flex: 50%;
}

.bio-left img {
  display: block;
  max-width: 400px;
  width: 100%;
  padding: 0px;
  border: none;
}

.bio-right {
  flex: 40%;
  padding-left: 20px;
  justify-content: flex-start;
}

  /* ------------------------------------------------------ */
  footer {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  color: #9FAABC;
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: 200px;
  margin-right: 200px;
  overflow: hidden;
}

  /* ------------------------------------------------------ */
/*Responsive*/

@media (max-width: 700px) {
  .topnav {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .topnav a{
    margin: auto;
    width: 100%;
  }

  .topnav div {
    display: flex;
    margin: auto;
    width: 100%;
    padding: 0px;
  }

  #gallery:hover #gal-list{
    display: none;
  }

  .footer {
    margin: auto;
    text-align: center;
  }

  .content {
    width: 95%;
    padding: 2.5%;
  }

  .bio-left {
    flex: 100%;
  }

  .bio-left img {
    margin: auto;
  }

  .bio-right {
    flex: 100%;
  }

  .gal-item {
    flex: 100%;
  }

  .hero-overlay {
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 50px;
    width: auto;
  }
}