@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-size: 40px 40px;
  /* background-image: radial-gradient(circle, #C3CAD5 1px, rgba(0, 0, 0, 0) 1px); */
  font-family: 'Fira Sans', sans-serif;
  background-color: #eef6fc;
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 25px;
  line-height: 1.8;
  text-align: center;
  color: #242424;
  margin: auto;
}

.myText p {
  font-family: 'Fira Sans', sans-serif;  
  font-size: 20px;
  color: #5C5C5C;
  margin: auto;
  position: relative;
  text-align: left;
  padding-top: 50px;
}


/* ------------------------------------------------------ */

#abouttext {
  text-align: left;
  margin: auto;
  font-size: 20px;
  color: #5C5C5C;
  font-weight: thin;
  margin-inline: auto;
}

#aboutsub {
  text-align: left;
  margin: auto;
  font-weight: bold;
  font-size: 22px;
  color: #394B74;
  margin-inline: auto;
}

/* ------------------------------------------------------ */

h1{
  font-family: 'Fira Sans', sans-serif;
  font-size: 35px;
  position: relative;
  left: 10px;
  top: 1px;
  padding-bottom: 20px;
	text-align: left;
}

.knockout {
  background-image: linear-gradient(to right, #394B74, #1E4B5C, #9fcffe, #3E2850);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-position: -100%;
  background-size: 400%;
  animation: animateText 10s infinite alternate-reverse;
}

@keyframes animateText {
  from {
      background-position: 0;
  }

  to {
      background-position: 100%;
  }
}
/* ------------------------------------------------------ */

h2 {
  color: #394B74;
  text-align: center;
  padding-top: 40px;
}

h3 {
  font-size: 40px;
  color: #394B74;
  text-align: center;
}

h4 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 25px;

  position: relative;
  padding-right: 1000px;
  text-align: left;
  color: #394B74;
  padding-top: 50px;
}

h5 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 21px;

  position: relative;
  text-align: left;
  color: #394B74;
}

/* ------------------------------------------------------ */

#myHeader1 {
  font-size: 40px;
  color: #394B74;
  text-align: left;
  padding-right: 500px;
}

#myHeader2 {
  font-size: 40px;
  padding-top: 10px;
  color: #394B74;
  text-align: center;
  padding-right: 700px;
}

#ando {
  color: #060506;
}

#andosub {
  color: #060506;
  font-size: 30px;
}

#fruity {
  color: #D05D66;
}

#fruitysub {
  color: #D05D66;
  font-size: 30px;
}

#path {
  color:#1E4B5C;
}

#pathsub {
  color:#1E4B5C;
  font-size: 30px;

}

#sun {
  color:#1C53A2;
}

#sunsub {
  color:#1C53A2;
  font-size: 30px;
}

#tkd {
  color:#1F6A86;
}

#tkdsub {
  color:#1F6A86;
  font-size: 30px;
}

#lightnight {
  color:#F26F44;
}

#lightnightsub {
  color:#F26F44;
  font-size: 30px;
}

#resumesub {
  color:#394B74;
  font-size: 30px;
}



#dittox {
  color:#3E2850;
}

#moclo {
  color:#B98262;
}

/* ------------------------------------------------------ */
a {
  font-weight: bold;
  --s: 0.2em;   /* the thickness of the line */
  --c: #394B74; /* the color */
  color: #FFD60A;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#394B74 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  --_p: 100%
}

a:visited {
  color: #5C5C5C;
  text-decoration: none;
}

.nav1 {
  display: block;
  margin: auto;
  text-align: right;
  font-size: 18px;
  text-decoration: none;
  padding-left: 20px;
  padding-bottom: 20px;
  position: absolute;
  left: 350px;
  top: 44px;
  right: 20px;
}

.nav1 a:visited {
  color: #5C5C5C;
  text-decoration: none;
}

.nav2 {
  color: #394B74;
  text-decoration: none;
  margin: auto;
  text-align: center;
  max-width: 1000px;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  position: relative;
  gap: 5px;
  margin: 10px auto;
  text-decoration: none;
  padding: 10px;
}

.nav2 a:active, .nav2 a:hover {
  color: #394B74;
}

.nav2 a:link, .nav2 a:visited {
  color: inherit;
  color: #5C5C5C;
  text-decoration: none;
}

/* ------------------------------------------------------ */

.arrowR {
	width: 3vmin;
	height: 3vmin;
	box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
	left: 95%;
	top: 50%;
	transform: rotate(45deg);

  &::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #9FAABC;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	&:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: #9FAABC;
		transform-origin: 100% 0;
		transition:.2s ease;
	}
	
	&:hover::after {
		transform: rotate(45deg);
		border-color: #394B74;
		height: 120%;
	}
	&:hover::before {
		border-color: #394B74;
		transform: scale(.8);
		
	}
	
}

.arrowL {
	width: 3vmin;
	height: 3vmin;
	box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
	left: 5%;
	top: 50%;
	transform: rotate(-135deg);
	
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #9FAABC;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	&:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: #9FAABC;
		transform-origin: 100% 0;
		transition:.2s ease;
	}
	
	&:hover::after {
		transform: rotate(45deg);
		border-color: #394B74;
		height: 120%;
	}
	&:hover::before {
		border-color: #394B74;
		transform: scale(.8);
		
	}
	
}
/* ------------------------------------------------------ */

iframe {
  border: none;
  width: 800px;
  height: 800px;;
}

#web1 {
  width: 800px;
  height: 800px;;
}

#web2 {
  width: 1200px;
  height: 950px;;
}

#web3 {
  width: 1800px;
  height: 900px;;
}

#video {
  width: 1120px;
  height: 630px;
}

/* ------------------------------------------------------ */

.splash img {
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}

.main {
  margin: auto;
  max-width: 1000%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 100px;
  margin-top: 100px;
}

.main img:hover {
  opacity: 0.5;
}

.myprofile img{
  margin: auto;
  max-width: 1000%;
  display: flex;
  align-items: left;
  position: static;
  padding: 30px;
}

img {
  margin-inline: 0;
  object-fit: cover;
}
/* ------------------------------------------------------ */

.gallery-container-a,.gallery-container-b {
  margin: auto;
  max-width: 1000px;
  display: flex;
  position: static;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
  align-content: space-between;
  flex-grow: 1;
  padding-bottom: 30px;
}

.gallery-container-c {
  margin: auto;
  max-width: 600px;
  display: flex;
  position: static;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.gallery-container-d {
  margin: auto;
  max-width: 3000px;
  display: flex;
  position: static;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-bottom: 30px;
}

.gallery-item-a {
  padding-bottom: 30px;
  position: relative;
  flex: 1;
}

.gallery-item-c {
  padding-bottom: 50px;
  flex: 1;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item-d {
  padding-top: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item-a, .gallery-item-b {
  text-align: left;
  flex: 1 1 auto;
  padding-bottom: 20px;
}

.gallery-container-a img:hover {
	opacity: 0.5;
}

  /* ------------------------------------------------------ */
  .wrapper{
    width: 100%;
  
  }
  
  .container > div {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
  }
  
  .container > div > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  /* Grid */
  .container {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(900px, 1fr));
      grid-auto-rows: 600px;
      grid-auto-flow: dense;
  }
  
  .horizontal {
    grid-column: span 2;
  }
  
  .vertical {
    grid-row: span 2;
  }
  
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  /* Media Queries */
  
  @media screen and (min-width: 1024px){
    .wrapper{
      width: 1300px;
      margin: 0 auto;
    }
  }
  /* ------------------------------------------------------ */

  ul {
    position:relative;
    top:10%;
    justify-content: center;
    margin:0;
    padding:0;
    display:flex;
  }
  
  ul li {
    list-style:none;
  }
  ul li a {
    display:block;
    position:relative;
    width:55px;
    height:55px;
    line-height:55px;
    font-size:40px;
    text-align:center;
    text-decoration:none;
    color:#394B74;
    margin: 0 30px;
    transition:.5s;
  }
  ul li a span {
    position:absolute;
    transition: transform .5s;
  }
  ul li a span:nth-child(1),
  ul li a span:nth-child(3){
    width:100%;
    height:3px;
    background:#394B74;
  }
  ul li a span:nth-child(1) {
    top:0;
    left:0;
    transform-origin: right;
  }
  ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition:transform .5s;
  }
  
  ul li a span:nth-child(3) {
    bottom:0;
    left:0;
    transform-origin: left;
  }
  ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s;
  }
  
  ul li a span:nth-child(2),
  ul li a span:nth-child(4){
    width:3px;
    height:100%;
    background:#5C5C5C;
  }
  ul li a span:nth-child(2) {
    top:0;
    left:0;
    transform:scale(0);
    transform-origin: bottom;
  }
  ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition:transform .5s;
  }
  ul li a span:nth-child(4) {
    top:0;
    right:0;
    transform:scale(0);
    transform-origin: top;
  }

  ul li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition:transform .5s;
  }

  .github:hover {
    color:#6e5494;
  }
  .github:hover span { 
    background:#6e5494;
  }
  .likedin:hover {
    color: #0a66c2;
  }
  .likedin:hover span { 
    background: #0a66c2;
  }
  .instagram:hover {
    color: #c13584;
  }
  .instagram:hover span { 
    background: #c13584;
  }
  .google:hover {
    color: #dd4b39;
  }
  .google:hover span { 
    background: #dd4b39;
  }
  ul li a .likedin {
    color: #0a66c2;
  }
  ul li a:hover:nth-child(3) {
    color: #c13584;
  }
  ul li a:hover:nth-child(4) {
    color: #dd4b39;
  }

  #socialmediasub {
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    color: #394B74;
  }

  /* ------------------------------------------------------ */

  .type--C{
    --line_color : #394B74 ;
    --back_color : #eef6fc 
  }
  
  .button{
      position : relative ;
      z-index : 0 ;
      width : 240px ;
      height : 56px ;
      text-decoration : none ;
      font-size : 14px ; 
      font-weight : bold ;
      color : var(--line_color) ;
      letter-spacing : 2px ;
      transition : all .3s ease ;
      align-items: center;
      justify-content: center;
  }
  .button__text{
      display : flex ;
      justify-content : center ;
      align-items : center ;
      width : 100% ;
      height : 100% ;
  }
  .button::before,
  .button::after,
  .button__text::before,
  .button__text::after{
      content : '' ;
      position : absolute ;
      height : 3px ;
      border-radius : 2px ;
      background : var(--line_color) ;
      transition : all .5s ease ;
  }
  .button::before{
      top : 0 ;
      left : 54px ;
      width : calc( 100% - 56px * 2 - 16px ) ;
  }
  .button::after{
      top : 0 ;
      right : 54px ;
      width : 8px ;
  }
  .button__text::before{
      bottom : 0 ;
      right : 54px ;
      width : calc( 100% - 56px * 2 - 16px ) ;
  }
  .button__text::after{
      bottom : 0 ;
      left : 54px ;
      width : 8px ;
  }
  .button__line{
      position : absolute ;
      top : 0 ;
      width : 56px ;
      height : 100% ;
      overflow : hidden ;
  }
  .button__line::before{
      content : '' ;
      position : absolute ;
      top : 0 ;
      width : 150% ;
      height : 100% ;
      box-sizing : border-box ;
      border-radius : 300px ;
      border : solid 3px var(--line_color) ;
  }
  .button__line:nth-child(1),
  .button__line:nth-child(1)::before{
      left : 0 ;
  }
  .button__line:nth-child(2),
  .button__line:nth-child(2)::before{
      right : 0 ;
  }
  
  .button:hover::before,
  .button:hover .button__text::before{
      width : 8px ;
  }
  .button:hover::after,
  .button:hover .button__text::after{
      width : calc( 100% - 56px * 2 - 16px ) ;
  }

  /* ------------------------------------------------------ */
  footer {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  color: #9FAABC;
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: 200px;
  margin-right: 200px;
  overflow: hidden;
}

  /* ------------------------------------------------------ */